.custom {
    .custom__container {
        display: grid;
        grid-template-columns:repeat(auto-fit , minmax(47% , 1fr));
        align-items: center;
        gap: 5rem;
        padding: 2rem;
        margin: 0 0 6em 0 ;
        .custom__left {
            display: flex;
            justify-content: center;
            .custom__banner {
                padding: 0.5em;
                height: 100%;
                width: 100%;
                &:hover:after {
                    transform: translate(50% , 0%) rotate(540deg);
                }
                &:hover:before {
                    transform: translate(50% , 0%) rotate(-360deg);
                }
                &::after  , &::before{
                    display: table;
                    content: "";
                    position: absolute;
                    border: 15em solid rgba(255, 255, 255, 0);
                    border-right-color: orange;
                    border-bottom-color: orange;
                    border-radius: 50%;
                    bottom: .5rem;
                    position: absolute;
                    rotate: 0deg;
                    transition: all .8s ease-in-out;
                    z-index: +11;
                    right: 50%;
                    transform-origin: center;
                    transform: translate(50% , 0%) rotate(0deg);
                }
                &::before {
                    border-right-color: orangered;
                    border-bottom-color: $primary--clr;
                }
                .img__banner {
                    object-fit: contain;
                    z-index: +15;
                    height: 40rem;
                    transform: translateY(-3%);
                }
                .custom__bar1 {
                    position: absolute;
                    width: 15rem;
                    height: 8rem;
                    top: -2.5rem;
                    right: 20%;
                    transform: translate(80% , 0);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    z-index: +15;
                    border-radius: 2rem;
                    &::before {
                        content: "";
                        position: absolute;
                        width: inherit;
                        height: inherit;
                        background-image: linear-gradient(to right, #d16ba5, #c86fb7, #ba74c8, #a77bd9, #8c83e7, #6e93f4, #49a2fc, #00afff, #00c4ff, #00d8ff, #07eafa, #5ffbf1);
                        background-size: 400%;
                        background-position: left;
                        transition: all .5s ease-in-out;
                        filter: blur(.5rem);
                        border-radius: 2rem;
                    }
                    &:hover:before {
                        background-position: right;
                    }
                    img {
                        padding: .3em;
                        object-fit: fill;
                        border-radius: 2rem;
                        z-index: +13;
                    }
                }
                .custom__bar2 {
                    position: absolute;
                    width: 12rem;
                    height: 12rem;
                    top: -2.5rem;
                    left: 20%;
                    transform: translate(-20% ,0);
                    background-color: #D8EBF2;
                    padding: .2rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    z-index: +20;
                    &::after {
                        position: absolute;
                        z-index: -1;
                        width: 105%;
                        height: 105%;
                        content: "";
                        display: table;
                        clear: both;
                        border-radius: 50%;
                        background: #CC95C0;
                        background: -webkit-linear-gradient(to right, #7AA1D2, #DBD4B4, #CC95C0);
                        background: linear-gradient(to right, #7AA1D2, #DBD4B4, #CC95C0);
                        background-size: 400%;
                        background-position: left;
                        transition: all .5s ease-in-out;
                    }
                    &:hover:after {
                        background-position: right;
                        rotate: 720deg;
                    }
                }
                img {
                    object-fit: fill;
                    border-radius: 50%;
                    z-index: +10;
                }
            }
        }
        .custom__right {
            display: grid;
            grid-template-rows: 1fr 1fr 1fr;
            grid-gap: 3rem 0;
            align-items: center;
            justify-content: space-evenly;
            .custom__right__card {
                padding: 1.5rem 1rem;
                transition: all .5s ease-in-out;
                box-shadow: 0rem 1rem 1rem -.5rem rgb(181, 181, 181);
                .custom__card__title {
                    line-height: 3.5rem;
                    font-size: $font-size-large;
                }
                .custom__card__contex {
                    margin: .8em 0;
                    line-height: 2.5rem;
                    font-size: $font-size-normal;
                    color: gray;
                }
            }
            .crc1 {
                border-left: .3em solid #ff6c43;
                border-radius: .6em;
                padding-left: 2em;
                background-color: #ffffffd6;
                &:hover {
                    background-color: rgb(255, 238, 221);
                    box-shadow: 2rem 1rem 1rem -.5rem rgb(181, 181, 181);
                    transform: translateX(-3%);
                }
            }
            .crc2 {
                border-left: .3em solid #5064ff;
                border-radius: .6em;
                padding-left: 2em;
                background-color: #ffffffd6;
                &:hover {
                    background-color: rgb(225, 255, 254);
                    box-shadow: -2rem 1rem 1rem -.5rem rgb(181, 181, 181);
                    transform: translateX(+3%);
                }
            }
            .crc3 {
                border-left: .3em solid #84ff71;
                border-radius: .6em;
                padding-left: 2em;
                &:hover {
                    background-color: rgb(225, 255, 228);
                    box-shadow: 2rem 1rem 1rem -.5rem rgb(181, 181, 181);
                    transform: translateX(-3%);
                }
            }
        }
    }
}
.move__left__animate {
    animation: move-left 1s ease-in-out forwards;
}
.move__right__animate {
    animation: move-right 1s ease-in-out forwards;
}
@keyframes move-left {
    0%{
        transform: translateX(-40rem);
        opacity: 0;
        display: none;
    }
    100%{
        transform: translateX(0rem);
        opacity: 1;
    }
}
@keyframes move-right {
    0%{
        transform: translateX(+30rem);
        opacity: 0;
        display: none;
    }
    100%{
        transform: translateX(0rem);
        opacity: 1;
    }
}