@import './LivePhone' ;
@import '../Ultility/variable' ;
.feature{
    margin: 15em 0;
    margin-top: 7rem;
    display: flex;
    background-color: rgba(226, 226, 226, 0.589);
    .featuer__container {
        display: grid;
        grid-template-columns: repeat(auto-fit , minmax(46% , 1fr));
        gap: 5rem;
        margin: 1.5em auto;
        width: 100%;
        padding: 4rem 0 2rem 0;
        align-items: center;
        .phone__container{
            display: flex;
            justify-content: center;
            align-items: center;
            align-items: center;
            &::before{
                content: "";
                display: table;
                clear: both;
                position: absolute;
                width: 120%;
                height: 140%;
                left: 0;
                background-color: $primary--clr;
                animation: glovyanimation 8s linear infinite;
                z-index: -1;
                rotate: -10deg;
            }
            .feature__phone{
                display: flex;
                flex-direction: column;
                clear: both;
                width: 85%;
                height: 33rem;
                border-radius: 2rem;
                border: .1rem solid black;
                align-items: flex-end;
                transition: all .5s ease-in-out;
                background-color: rgb(132, 132, 132);
                transform: translateY(-0%);
                    &:hover {
                        transform: translateY(-3%);
                    }
                .phone__up {
                    width: 100%;
                    height: 2rem;
                    background-color: rgb(0, 0, 0);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 2rem 2rem 0 0 ;
                    .phone__up--cam {
                        height: 50%;
                        width: 1rem;
                        background-color: #6C6D70;
                        margin-right: .5em;
                        border-radius: 50%;
                    }
                    .phone__up--spk {
                        height: 30%;
                        width: 2rem;
                        background-color: #6C6D70;
                        margin-right: .5em;
                        border-radius: 2rem;
                    }    
                    .phone__up--mic {
                        height: 50%;
                        width: 1rem;
                        background-color: #6C6D70;
                        border-radius: 50%;
                    }
                }
                .phone__middle {
                    background-image: url('./Media/backgroundphone/1.jpg');
                    background-repeat: no-repeat;
                    background-size: 100% ;
                    background-position: center;
                    width: 100%;
                    height: 28rem;
                    @include dsply-column-cntr-cntr ;
                    border: 0rem solid black;
                    border-left-width: 1rem;
                    border-right-width: 1rem;
                }
                .phone__bottom {
                    width: 100%;
                    height: 3rem;
                    background-color: black;
                    border-radius: 0 0 2rem 2rem ;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .phone__button--key {
                        width: 1.7rem;
                        height: 1.7rem;
                        background-color: #6C6D70;
                        border: .1em solid white;
                        border-radius: 50%;
                    }
                }
            }
        }           
        .feature__content {
            text-align: left;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .feature__context {
                font-size: $font-size-normal;
                color: $gray-scale;
                line-height: 3rem;
                width: 100%;
            }
            .feature__header {
                font-size: $font-size-large;
                line-height: 4rem;
                width: 100%;
                margin: 1rem 0;
            }
        }
        .feature__button {
            display: flex;
            align-items: center;
            width: 100%;
            padding: 0 2rem;
            .left__feature__button  , .right__feature__button{
                margin-top: 5rem;
                img {
                    width: 10rem;
                    height: 10rem;
                    transition: all .3s ease-in-out;
                    filter : drop-shadow(0rem 0rem 0rem rgb(184, 184, 184)) ;
                     &:hover {
                        transform: translateY(-5%);
                        filter : drop-shadow(0rem 2rem .3rem gray) ;
                     }
                }
            }
            .right__feature__button {
                margin-left: 10rem;
            }
        }
    }    
}
.move__left__animate {
    animation: move-left 1s ease-in-out forwards;
}
.move__right__animate {
    animation: move-right 1s ease-in-out forwards;
}
@keyframes move-left {
    0%{
        transform: translateX(-40rem);
        opacity: 0;
        display: none;
    }
    100%{
        transform: translateX(0rem);
        opacity: 1;
    }
}
@keyframes move-right {
    0%{
        transform: translateX(+30rem);
        opacity: 0;
        display: none;
    }
    100%{
        transform: translateX(0rem);
        opacity: 1;
    }
}
@keyframes glovyanimation {
    0%{
        border-radius: 20rem 15rem 38rem 68rem / 19rem 12rem 22rem 22rem;
    }
    25%{
        border-radius: 68rem 60rem 45rem 50rem / 15rem 27rem 40rem 50rem;
    }
    50%{
        border-radius: 55rem 60rem 30rem 60rem / 19rem 37rem 34rem 35rem;
    }
    75%{
        border-radius: 55rem 60rem 30rem 40rem / 19rem 37rem 44rem 35rem;
    }
    100%{
        border-radius: 20rem 15rem 38rem 68rem / 19rem 12rem 22rem 22rem;
    }
}