@import '../Ultility/variable' ;
.footer {
    display: flex;
    width: 100%;
    margin-top: 1rem;
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    .footer__container{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit , minmax(24% , 1fr));
        gap: 1rem ;
        margin: 1em 1.5em 0 1.5em; 
        justify-content: center;
        align-items: flex-start;
        .footer__elem1 {
            @include dsply-column-cntr-cntr ; 
            * {
                width: 100%;
            }
            @include dsply-column-cntr-cntr ;
            img {
                height: 6rem;
                width: 15rem;
            }
            p {
                color : gray  ; 
                font-size: $font-size-up-small;
                margin-top : 1em ;
                @include dsply-column-cntr-cntr ;
                text-align: center;
            }
            .footer__elem1--icon {
                display: flex;
                margin-top : 1em ;
                @include dsply-flex-cntr-cntr ;
                i {
                    @include dsply-flex-cntr-cntr;
                    width: 4rem;
                    height: 4rem;
                    padding: .5rem;
                    margin: 0 .1em;
                    background: cornflowerblue;
                    color: white;
                    font-size: $font-size-normal;
                    border-radius: 50%;
                }
            }
        }
            .footer__elem2--right , .footer__elem2--left {
                @include dsply-column-cntr-cntr ;
                align-items: flex-start;
                text-align: center;
                h2 {
                    font-size : $font-size-large ; 
                    margin: .5rem 0 ;
                    width: 100%;
                }
                ul {
                    list-style-type: none;
                    margin: .8rem 0 ;
                    width: 100%;
                    text-align: center;
                    li {
                        font-size: $font-size-up-small;
                        color: gray;
                        display: flex;
                        flex-direction: column;
                        
                        margin-top: .4em;
                        &::before {
                            @include before-link ;
                        }
                        &::after {
                            @include after-link ;
                        }
                        &:hover::after {
                            bottom: 0em;
                            opacity: 1;
                        }
                        &:hover::before {
                            top: 0em;
                            opacity: 1;
                        }
                    }
                }
            }
        .footer__elem3 {
            display: flex;
            flex-direction: column;
            h2 {
                font-size : $font-size-large ; 
                margin: .5rem 0 ;
            }
            p {
                font-size: $font-size-up-small;
                color: gray;
                margin: 1rem 0 ;
            }
            form {
                display: grid;
                grid-template-columns: 2fr 1fr;
                margin-top: 1em;
                margin-bottom: 1em;
                border-radius: .3em;
                border: .1em solid black;
                padding: .2em;
                background-color: white;
                input {
                    font-size: $font-size-small;
                    padding: .2em 0 .2em .2em ; 
                    border-radius: .3em;
                    transition: all 0.3s ease-in;
                    &:focus {
                        padding-left: .8em;
                        font-size: $font-size-up-small;
                    }
                }
                button {
                    padding: .1em !important;
                    @include dsply-flex-cntr-cntr ;
                    box-shadow: none !important;
                    p {
                        color: white ;
                        transition: all .4s ease-in-out;
                    }
                    &:hover p{
                        color: black !important;
                    }
                }
            }
        }
    }
}