@import "../Ultility/variable";
@import "../Layouts/Animated" ;
.hero {
  margin: 5% auto ; 
  @include grid-gtc-2(1fr, 1fr);
  align-items: center;
  gap: 5rem;
  .hero__container {
    padding: 1em 2em 0 2em;
    @include dsply-column-cntr(flex-start,center) ; 
    .hero__title {
      font-size: $font-size-super-large;
      .hero__title__middel {
        @include dsply-flex-cntr(center , flex-start) ;
      }
    }
    .hero__describe , .hero__type--selector{
        color: $dark--clr;
        font-size: $font-size-normal;
        margin-top: 1em ; 
    }
      .hero__type--selector {
          margin-top: 1em ; 
          @include dsply-flex-cntr-cntr ; 
          .hero__button {
          @include dsply-flex-cntr-cntr ; 
              i {
                  margin-left: 1.5em
              }
          }
          .hero__device--type {
              color: $dark--clr;
              font-size: $font-size-normal;
              @include dsply-flex-cntr-cntr ;
              margin-left: .8em;
              &::before {
                  @include before-custom(0rem) ;
                  margin: 0 0em;
              }
          }
  }
  &:hover .hero__device--type::before {
    @include before-custom(8rem) ; 
    margin: .0 .5em 0 0;
    opacity : 1 ;
}
}
}