@import '../Ultility/variable' ;
.register {
    .register__container {
        display: grid;
        grid-template-columns: repeat(auto-fit , minmax(47% , 1fr));
        gap: 5rem;
        align-items: center;
        justify-content: center;
        padding: .5em;
        .register__left {
            @include dsply-column-cntr-cntr ; 
            h4 {
                font-size: $font-size-super-large;
                margin: .5em 0;
                line-height: 5rem;
            }
            .pp {
                color: gray;
                font-size: $font-size-normal;
                margin: .5em 0 ;
            }
        }
    }
}
.scale__aniamtion {
    animation: scaleanimation 1s ease-in-out forwards;
}
@keyframes scaleanimation {
    0%{
        transform: scaleX(0);
    }
    100%{
        transform: scaleX(1);
    }
}