@import '../Ultility/variable' ;
.register {
    .register__container {
        display: grid;
        grid-template-columns: repeat(auto-fit , minmax(47% , 1fr));
        gap: 5rem;
        align-items: center;
        justify-content: center;
        padding: .5em;
        overflow: hidden;
        &::after  , &::before{
            content: "";
            display: table;
            clear: both;
            position: absolute;
            width: 100%;
            height: 100%; 
            background-color: rebeccapurple ; 
            z-index: -1;
            rotate: 45deg;   
        }
        &::before {
            left: 0;
            transform: translateX(100%) translateY(100%) ;
            transition: all .5s ease-out;
        }
        &:hover:after , &:hover::before {
            transform: translateX(0%) translateY(0%) ;
        }
        &::after {
            right: 0 ; 
            rotate: 135deg;
            transform: translateX(-100%) translateY(-100%) ;
            transition: all .5s ease-out;
        }
        .register__left {
            @include dsply-column-cntr-cntr ; 
            h4 {
                font-size: $font-size-super-large;
                margin: .5em 0;
                line-height: 5rem;
            }
            .pp {
                color: gray;
                font-size: $font-size-normal;
                margin: .5em 0 ;
            }
        }
    }
}
.scale__aniamtion {
    animation: scaleanimation 1s ease-in-out forwards;
}
@keyframes scaleanimation {
    0%{
        transform: scaleX(0);
    }
    100%{
        transform: scaleX(1);
    }
}