@import '../Ultility/variable' ; 
.web--dev {
    margin: 0 0 6em 0 ;
    display: flex;
    .web--dev__container{
        display: grid;
        grid-template-columns: repeat(auto-fit , minmax(47% , 1fr));
        gap: 5rem;
        .web--dev__left {
            padding: 1.5rem 0 1.5rem 4rem;
            p {
                font-size: $font-size-normal;
                color: gray;
                margin: .5em 0;
            }
            h3 {
                font-size: $font-size-large ;
                color: black;
                margin: .5em 0;
            }
            .web--dev__icon {
                @include dsply-flex-cntr-cntr ;
                margin-top: 2em;
                flex-wrap: wrap;
                gap: 1rem;
                * , *::after , *::before {
                    transition: all .3s ease-in-out;
                }
                .web--dev__icon__right , .web--dev__icon__left {
                    @include dsply-column-cntr(flex-start , flex-start) ;
                    color: white;
                    transition: all .3s ease-in-out;
                    width: Max(47% , 17rem);
                    transform: translateY(0%);
                    gap: 1rem;
                    &:hover span{
                        color: #13B237;
                    }
                    i {
                        padding: .7rem;
                        background-color: #13B237;
                        border-radius: .5rem;
                        font-size: $font-size-large;
                        margin: .5em 0;
                        transform: translateY(0%);
                    }
                    span {
                        font-size: $font-size-normal;
                        font-weight: 500;
                        color: black;
                        margin: .15em 0;
                    }
                    &:hover {
                        transform: translateY(-3%);
                        i {
                            transform: translateY(10%);
                        }
                    }
                }
                .web--dev__icon__left {
                    i {
                        background-color: #5ED3F3;
                    }
                    &:hover span{
                        color: #5ED3F3;
                    }
                }
            }
        }
        .web--dev__right {
            padding: 1.5rem 4rem 1.5rem 0 ;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                object-fit: contain;
                align-self: center;
            }
        }
    }
}